# ignora arquivo c gerado pelo flex:
lex.yy.c

# analisador:
analisador

# arquivo de entradas de teste 2:
in2.txt

# arquivo criado por algum motivo ao dar erro ao fazer make:
report.txt

# --
*.o
parser.tab.c
parser.tab.h
parser
